/* Basic page layout */
body {
  padding: 1em;
}

div#top {
  background-color: white;

}

div#centered {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: rgb(220, 220, 220);
}


/* For Project posts */
article.projectArticle{
  padding-bottom: 15px;
}

h1.projectTitle {

}

p.projectDate {

}

p.projectBody {

}
