/* Basic page layout */
body {
  padding: 1em;
}

div#top {
  background-color: white;

}

div#centered {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  /*background-color: rgb(220, 220, 220);*/
}

/* Header */

/* For Project posts */
article.projectArticle{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  background-color: rgb(230, 235, 240);
}


h1.projectTitle {

}

p.projectDate {

}

p.projectBody {

}
