/* Text */
h1 {
  font-family: serif;
  font-size: 160%;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: sans-serif;
  font-size: 150%;
  padding-top: 1em;
  margin-bottom: 0;
}

h3 {
  font-family: sans-serif;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: sans-serif;
  line-height: 140%;
}

a {
  font-family: sans-serif;
}

li {
  font-family: sans-serif;
}

/* Rects */
body {
  margin-top: -1em;  /* Whaaaaa?!!*/
  padding: 0;
  border: 0;
}

section {
  margin-top: 0;
}

aside{
  display: none;
  float: right;
  margin-top: 0;
  width: 0%;
}

main{
  float: left;
  width: 100%;
  min-width: 320px;
}

#top {
  margin-top: 0;
}

#centered {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  /*width: 700px;*/
}

/* Navigation Section */
nav {
  width: 100%;
}

header {
  min-width: 320px;
  margin-left: 2em;
}

.navigation_icon{
  float: right;
  width: 32px;
  height: 32px;
}

.nav-trigger{
  clip: rect(0,0,0,0);
}

#navigation_bar_menu{
  display: block;
  width: 100%;
}

#navigation_bar_links{
  display: none;
  float: right;
  margin-left: 0;
  padding-left: 0;
}

#navigation_bar_links li {
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
}

#category_filter{
  float: right;
  padding: .5em;
}

#category_filter_list {
  margin-left: 0;
  padding-left: 1.5em;
  margin-right: 1.5em;
}

#category_filter_list li{
  list-style-type: none;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: 1em;
}

#github_projects{
    padding-left: 1em;
}

#github_projects li{
  list-style-type: none;
  padding-bottom: 1em;
}

#drop_down_menu {
  /*display: block;*/
  overflow: hidden;
  width: 100%;
}

#drop_down_menu li {
  list-style-type: none;
}

/* Footer */
footer {
  font-family: sans-serif;
  font-size: 80%;
  clear: left;
  padding-bottom: 2em;
}

.icon-inline{
  margin-left: .5em;
}

/* For screens larger than 480px*/
@media all and (min-width:480px){

}

/* For screens larger than 680px*/
@media all and (min-width:680px){

  main{
    float: left;
    width: 75%;
    margin-top: 0;
  }

  aside{
    display: block;
    float: right;
    width: 25%;
  }

  #menu_wrapper {
    display: none;
  }

  #navigation_bar_links {
    display: block;
    width: 290px;
  }

  #category_filter {
    display: none;
  }
}
