/* For Project posts */
article.projectArticle{
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
}

img {
  min-width: 100%;
  max-width: 100%;
}

.posting_date {
  font-size: 90%;
  margin-top: .5em;
  margin-bottom: .5em;
}

.ellipses {
  margin-bottom: .25em;
  margin-top: 0;
}

.projectCategory{
  font-size: 80%;
  font-style: italic;
  line-height: normal;
  float: right;
  margin-bottom: 0;
}

/* Text Hide and Show behaviour based on viewport size */
.width_constrained {
  display: none;
}

.show_despite_width {
  display: block;
}

/* For screens larger than 480px*/
@media all and (min-width:480px){

  img {
    min-width: 40%;
    max-width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
  }

  .width_constrained {
    display: block;
  }
}
