/* For Project posts */
article.projectArticle{
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: 1.5em;
  margin-bottom: .5em;
}

.alternateColor{
  background-color: rgb(240, 240, 240);
}

h1 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

a {
  font-family: sans-serif;
}

/* Images*/
img {
  min-width: 100%;
  max-width: 100%;
}

/* For screens larger than 480px*/
@media all and (min-width:480px){

  img {
    min-width: 40%;
    max-width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
  }
}
