/* Hide project body text when viewing on mobile*/
.is_hidden {
  display: none;
}
a span {
  display: none;
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

a:hover span {
  display: block;
  background-color: yellow;
}
