/* Hide project body text when viewing on mobile*/
.is_hidden {
  display: none;
}
a span {
  display: none;
  position: absolute;
  padding: 1em;
}

a:hover span {
  display: block;
  background-color: #000;
}
