/* Text color */
p, h1, h2, h3, li, footer {
  color: black;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: red;
  text-decoration: none;
}

/* Tool Tip anchor*/
.tool_tip:link{
  color: black;
}

.tool_tip:visited {
  color: black;
}

/* Dark background color for anchors*/
.onDark:link{
  color: white;
}

.onDark:visited {
  color: white;
}

.onDark:hover {
  color: red;
}

.onDark:active {
  color: red;
}

/* Background */
body {
  background-color: rgb(255, 255, 255);
}

#centered {
  background-color: rgb(220, 220, 215);
}

#drop_down_menu {
  background-color: rgb(50, 50, 50);
}

/* Navigation */
nav {
  background-color: rgb(120, 120, 140);
}

/* Sidebar */
/*aside {
  background-color: rgb(50, 200, 210);
}*/

.is_selected {
  background-color: rgb(150, 150, 150);
}

/* Project entries */
.alternateColor{
  background-color: rgb(240, 240, 240);
}

.projectCategory{
  color: rgb(180, 180, 180);
}
